footer{
    color: var(--text-white);
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 20px;
    align-items: center;
    padding-bottom: 10px;
}

footer img{
    width: 60px;
    height: 50px;
}

footer .nav_site_footer{
    display: flex;
    justify-content: center;
    gap: 10px;
}

footer .text_copy, .text_info{
    color: var(--text-ccii);
    font-size: 0.8rem;
}