.Page{
    background-image: url(../assets/Background.png);
    background-repeat: no-repeat;
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.Page section{
    width: 30vw;
    height: 50vh;
    display: flex;
    flex-direction: column;
    border: 1px solid var(--back-blue);
    border-radius: 8px;
}

.Page .Text_input{
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
}

.Page .Text_input label{
    align-self: flex-start;
}

.Page .Text_input .up-color{
    color: var(--back-blue);
}

.Page .Text_input p{
    font-weight: 600;
    font-size: 1.4rem;
    align-self: right;
}

.Page .Text_input button{
    width: 50%;
}